* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--bg-color: #ffefe3;
	--text-color: maroon;
	--font-heading: 'Great Vibes';
	--font-default: 'Vidaloka';
}

body {
	background-color: var(--bg-color) !important;
}

div.header {
	height: 20vh;
	text-align: center;
}

div.header h1 {
	font-family: var(--font-heading);
	font-size: 108px;
	color: var(--text-color);
	line-height: 20vh;
}

div.main {
	height: 60vh;
	text-align: center;
	padding: 20vh 0;
}

div.main p {
	color: var(--text-color);
	font-family: var(--font-default);
	width: 50vw;
	margin: 0 auto;
}

div.footer {
	height: 20vh;
	text-align: center;
}

div.footer h2 {
	font-family: var(--font-heading);
	font-size: 64px;
	color: var(--text-color);
	line-height: 20vh;
}
